{% extends "base.html" %}
{% block title %}Сброс пароля{% endblock %}
{% block content %}
</br>
<h2>Сброс пароля</h2>
<p>На вашу почту мы отправили письмо для восстановления пароля.</p>
<p>Если не получили письмо, проверьте, что правильно указали почту.</p>
{% endblock %}