{% extends 'base.html' %}
{% block title %}Восстановление пароля{% endblock %}
{% block content %}
</br>
<h2>Форма восстановления пароля</h2>
</br>
<p>Введите вашу электронную почту, которую вы указали при регистрации.</p>
<form action="." method="post">
{{ form.as_p }}
<p><input type="submit" value="Send e-mail"></p>
{% csrf_token %}
</form>
{% endblock %}