{% extends "base.html" %}
{% block title %}Сброс пароля{% endblock %}
{% block content %}
</br>
<h2>Сброс пароля</h2>
{% if validlink %}
<p>Пожалуйста, введите новый пароль:</p>
</br>
<form action="." method="post">
 {{ form.as_p }}
 {% csrf_token %}
 <p><input type="submit" value="Change my password" /></p>
</form>
{% else %}
<p>Что-то пошло не так. Запросите новый сброс пароля.</p>
{% endif %}
{% endblock %}