{% extends 'base.html' %}
{% load static %}

{% block content %}

    <!-- ...:::: Start Breadcrumb Section:::... -->
    <div class="breadcrumb-section breadcrumb-bg-color--golden">
        <div class="breadcrumb-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h3 class="breadcrumb-title">Ваша корзина</h3>
                        <div class="breadcrumb-nav breadcrumb-nav-color--black breadcrumb-nav-hover-color--golden">
                            <nav aria-label="breadcrumb">
                                <ul>
                                    <li><a href="{% url 'home' %}">Главная</a></li>
                                    <li class="active" aria-current="page">Корзина</li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- ...:::: End Breadcrumb Section:::... -->

{% if count == 0 %}
    <!-- ...::::Start About Us Center Section:::... -->
    <div class="empty-cart-section section-fluid">
        <div class="emptycart-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-10 offset-md-1 col-xl-6 offset-xl-3">
                        <div class="emptycart-content text-center">
                            <div class="image">
                                <img class="img-fluid" src="{% static '/images/empty-cart.png' %}" alt="">
                            </div>
                            <h4 class="title">Пустая корзина</h4>
                            <h6 class="sub-title">ВЫ ЕЩЁ НИЧЕГО НЕ ДОБАВИЛИ В КОРЗИНУ</h6>
                            <a href="{% url 'home' %}" class="btn btn-lg btn-golden">За покупками</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- ...::::End  About Us Center Section:::... -->

{% else %}
    <!-- ...:::: Start Cart Section:::... -->
    <div class="cart-section">
        <!-- Start Cart Table -->
        <div class="cart-table-wrapper" data-aos="fade-up" data-aos-delay="0">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="table_desc">
                            <div class="table_page table-responsive">
                                <table>
                                    {% if cart.is_changed_by_shop == True %}
                                        <h3>Количество товаров в корзине изменилось</h3>
                                    {% endif %}
                                    <!-- Start Cart Table Head -->
                                    <thead>
                                        <tr>
                                            <th class="product_remove">Удаление</th>
                                            <th class="product_thumb">Фото</th>
                                            <th class="product_name">Товар</th>
                                            <th class="product-price">Цена</th>
                                            <th class="product_quantity">Количество</th>
                                            <!--<th class="product_total">Итоговая стоимость</th>-->
                                        </tr>
                                    </thead> <!-- End Cart Table Head -->
                                    <tbody>

                                        {% for item in items %}
                                        <!-- Start Cart Single Item-->
                                        <tr>
                                            <td class="product_remove"><a href="#" class="remove-cart fa fa-trash-o" pid={{ item.card.id }}></a>

                                            </td>
                                            <td class="product_thumb"><a href="{% url 'cards:product' item.card.slug %}"><img
                                                        src="{{ item.card.images.first.img.url }}"
                                                        alt=""></a></td>
                                            <td class="product_name"><a href="{% url 'cards:product' item.card.slug %}">{{ item.card.name }}</a></td>
                                            <td class="product-price">{{ item.card.new_price }}р</td>

                                            <td>
                                                <div>
                                                    <label for="quantity"></label>
                                                    <a class="minus-cart btn btn-minus" pid={{ item.card.id}}><i class="fa fa-minus-square-o"></i></a>
                                                    <span id="quantity">{{ item.quantity }}</span>
                                                    <a class="plus-cart btn" data-type="plus" pid={{ item.card.id }}><i class="fa fa-plus-square"></i></a>

                                                </div>
                                            </td>
                                            <!--<td class="product_total" id="amount">{{ amount }} р {{ item.amount }} р</td></td>-->
                                        </tr> <!-- End Cart Single Item-->
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!--<div class="cart_submit">
                                <a class="btn btn-md btn-golden" href="{% url 'update_cart_amount' %}" >обновить корзину</a>
                                </form>
                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- End Cart Table -->

        <!-- Start Coupon Start -->
        <div class="coupon_area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="coupon_code left" data-aos="fade-up" data-aos-delay="200">
                            <h3>Промокод</h3>
                            <div class="coupon_inner">
                                <p>Введите промокод, если он у вас есть</p>
                                <input class="mb-2" placeholder="Промокод" type="text">
                                <button type="submit" class="btn btn-md btn-golden">Применить промокод</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="coupon_code right" data-aos="fade-up" data-aos-delay="400">
                            <h3>Итоговая информация</h3>
                            <div class="coupon_inner">
                                <!--<div class="cart_subtotal">
                                    <p>Стоимость товаров</p>
                                    <p class="cart_amount" id="totalamount"></p>
                                </div>-->
                                <div class="cart_subtotal ">
                                    <p>Цену доставки сообщим далее</p>
                                </div>
                                    <!--<p class="cart_amount"><span></span></p>
                                </div>
                                <a href="#">Калькулятор доставки</a>-->

                                <div class="cart_subtotal">
                                    <p>Итого</p>
                                    <!--<p class="cart_amount" id="totalamount">{{ totalamount }}р. + доставка</p>-->
                                    <p class="cart_amount" hidden="true" id="amount">{{ amount }}</p>
                                    <p class="cart_amount" id="totalamount">{{ cart.total }}</p>

                                    <!--<p class="cart_amount">{{ cart.total }}р. + доставка</p>-->
                                </div>
                                <div class="checkout_btn">
                                    <a href="{% url 'orders:make-order' %}" class="btn btn-md btn-golden">Перейти к оформлению</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- End Coupon Start -->
    </div> <!-- ...:::: End Cart Section:::... -->
    {% endif %}

{% endblock %}