{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- ...:::: Start Breadcrumb Section:::... -->
    <div class="breadcrumb-section breadcrumb-bg-color--golden">
        <div class="breadcrumb-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h3 class="breadcrumb-title">Почти готово</h3>
                        <div class="breadcrumb-nav breadcrumb-nav-color--black breadcrumb-nav-hover-color--golden">
                            <nav aria-label="breadcrumb">
                                <ul>
                                    <li><a href="{% url 'home' %}">Главная</a></li>
                                    <li><a href="shop-grid-sidebar-left.html">Корзина</a></li>
                                    <li class="active" aria-current="page">Подтверждение заказа</li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- ...:::: End Breadcrumb Section:::... -->

    <!-- ...:::: Start Checkout Section:::... -->
    <div class="checkout-section">
        <div class="container">
            <!-- Start User Details Checkout Form -->
            <div class="checkout_form" data-aos="fade-up" data-aos-delay="400">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <form action="{% url 'orders:make-order' %}" method="POST" class="checkout-form" style="width: 100%;">
                            {% csrf_token %} 
                            <h3>Данные для доставки</h3>
                            <div class="row">
                                <div class="col-lg-6">
                                    <fieldset class="default-form-box">
                                        <label>Имя:<span>*</span></label>
                                        {{form.first_name}}
                                    </fieldset>
                                </div>
                                <div class="col-lg-6">
                                    <fieldset class="default-form-box">
                                        <label>Фамилия:<span>*</span></label>
                                        {{form.last_name}}
                                    </fieldset>
                                </div>
                                <div class="col-lg-6">
                                    <fieldset class="default-form-box">
                                        <label>Отчество:</label>
                                        {{form.surname}}
                                    </fieldset>
                                </div>
                                <div class="col-lg-6">
                                    <fieldset class="default-form-box">
                                        <label>Почтовый индекс:<span>*</span></label>
                                        {{form.zip_code}}
                                    </fieldset>
                                </div>
                                
                                <div class="col-12">
                                    <fieldset class="default-form-box">
                                        <label>Адрес доставки:<span>*</span></label>
                                        {{form.address}}
                                    </fieldset>
                                </div>

                                <div class="col-lg-6">
                                    <fieldset class="default-form-box-list">
                                        <label>Выбор способа доставки:<span>*</span></label></br>
                                        <div>{{form.delivery_type}}</div> 
                                    </fieldset>
                                </div>

                                <div class="col-lg-6">
                                    <fieldset class="default-form-box">
                                        <label>Телефон:<span>*</span></label>
                                        <div>{{form.phone}}</div> 
                                    </fieldset>
                                </div>
                                <div class="col-lg-6 mt-3">
                                    <fieldset class="default-form-box">
                                        <label>Комментарий к заказу:</label>
                                        {{form.comment}}
                                    </fieldset>
                                </div>
                            </div>
                            <div class="button">
                                <button type="submit" class="btn btn-md btn-black-default-hover btn-margin animate">Следующий шаг</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        
                            <h3>Ваш заказ</h3>
                            <div class="order_table table-responsive">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Товар</th>
                                            <th>Всего</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% if user.is_active %}
                                    {% for item in items %}
                                        <tr>
                                            <td> {{ item.card.name }} <strong> × {{ item.quantity }}</strong></td>
                                            <td> {{ item.card.new_price}}р.</td>
                                        </tr>
                                    </tbody>
                                    {% endfor %}
                                    {% endif %}
                                    <tfoot>
                                        <tr>
                                            <th>Цена без доставки</th>
                                            <td>{{ cart.total }}р.</td>
                                        </tr>
                                        <tr>
                                            <th>Доставка</th>
                                            <td><strong>Рассчитаем на следующем шаге</strong></td>
                                        </tr>
                                        <tr class="order_total">
                                            <th>Итоговая цена</th>
                                            <td><strong>{{ cart.total }}р. + доставка</strong></td>
                                        </tr>
                            
                                    </tfoot>
                                </table>

                            </div>
                            
                        
                    </div>
                </div>
            </div> <!-- Start User Details Checkout Form -->
        </div>
    </div><!-- ...:::: End Checkout Section:::... -->

		<!--/ End Checkout -->

{% endblock %}