{% extends 'base.html' %}
{% load static %}
{% block content %}

		<!-- Start Checkout -->
		<section class="shop checkout section">
			<div class="container">
				<div class="row">
					<br class="col-lg-8 col-12">

                        <h3>Что-то пошло не так</h3>

					</div>
				</div>
			</div>
		</section>
		<!--/ End Checkout -->

{% endblock %}