{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}

{% block content %}

    <!-- ...:::: Start Breadcrumb Section:::... -->
    <div class="breadcrumb-section breadcrumb-bg-color--golden">
        <div class="breadcrumb-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h3 class="breadcrumb-title">Товары в наличии</h3>
                        <div class="breadcrumb-nav breadcrumb-nav-color--black breadcrumb-nav-hover-color--golden">
                            <nav aria-label="breadcrumb">
                                <ul>
                                    <li class="active"><a href="{% url 'home' %}">Главная</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- ...:::: End Breadcrumb Section:::... -->

    <!-- ...:::: Start Shop Section:::... -->
    <div class="shop-section">
        <div class="container">
            <div class="row flex-column-reverse flex-lg-row">
                <div class="col-lg-12">
                    <!-- Start Shop Product Sorting Section -->
                    <div class="shop-sort-section">
                        <div class="container">
                            <div class="row">
                                <!-- Start Sort Wrapper Box -->
                                <div class="sort-box d-flex justify-content-between align-items-md-center align-items-start flex-md-row flex-column"
                                    data-aos="fade-up" data-aos-delay="0">
                                    <!-- Start Sort tab Button -->
                                    <div class="sort-tablist d-flex align-items-center">
                                        <!-- Start Page Amount -->
                                        <div class="page-amount ml-2">
                                            <span>Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}</span>
                                        </div> <!-- End Page Amount -->
                                    </div> <!-- End Sort tab Button -->

                                    <!-- Start Sort Select Option -->
                                    <div class="sort-select-list d-flex align-items-center">
                                        <label class="mr-2">Сортировка по:</label>
                                        <form action="#">
                                            <fieldset>
                                                <select name="speed" id="speed" onchange="location = this.value;">
                                                    <option value="{% url 'home' %} selected=selected">от А до Я</option>
                                                    <option value="{% url 'popular' %}"> по популярности </option>
                                                    <option value="{% url 'groupbymaxprice' %}">сначала дешевые</option>
                                                    <option value="{% url 'groupbyminprice' %}">сначала дорогие</option>
                                                </select>
                                            </fieldset>
                                        </form>
                                    </div> <!-- End Sort Select Option -->
                                </div> <!-- Start Sort Wrapper Box -->
                            </div>
                        </div>
                    </div> <!-- End Section Content -->

                    <!-- Start Tab Wrapper -->
                    <div class="sort-product-tab-wrapper">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <div class="tab-content">
                                        <!-- Start Grid View Product -->
                                        <div class="tab-pane active show sort-layout-single" id="layout-4-grid">
                                            <div class="row">
                                                {% for card in object_list %}
                                                <div class="col-xl-3 col-lg-4 col-sm-6 col-12">
                                                <form method="post" action="{% url 'add_item_to_cart' card.slug %}">
                                                    <!-- Start Product Default Single Item -->
                                                    <div class="product-default-single-item product-color--golden"
                                                        data-aos="fade-up" data-aos-delay="0">
                                                        <div class="image-box">

                                                            <a href="{{ card.get_absolute_url }}" class="image-link">
                                                                {% thumbnail card.images.first.img "200x200" crop="center" as im %}
                                                                    <img src="{{ im.url }}">
                                                                {% empty %}
                                                                    <p>No image</p>
                                                                {% endthumbnail %}
                                                            </a>
                                                            {% csrf_token %}

                                                        </div>
                                                        <div class="content">
                                                            <div class="content-left">
                                                                <h6 class="title"><a href="{{ card.get_absolute_url }}">{{ card.name }}</a></h6>
                                                                <ul class="review-star">
                                                                    <input hidden="hidden" type="number" name="quantity" value="1" min="1" max="{{ card.amount }}" required id="id_quantity"/>
                                                                    <button type="submit">В корзину <i class="icon-check"></i></button>
                                                                    <li class="fill"><i class="ion-android-star"></i>
                                                                    </li>
                                                                    <li class="fill"><i class="ion-android-star"></i>
                                                                    </li>
                                                                    <li class="fill"><i class="ion-android-star"></i>
                                                                    </li>
                                                                    <li class="fill"><i class="ion-android-star"></i>
                                                                    </li>
                                                                    <li class="empty"><i class="ion-android-star"></i>
                                                                    </li>
                                                                    <li class="empty"><i>{{ card.amount }}</i>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="content-right">
                                                                <span class="price">{{ card.new_price }}₽</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>

                                                    <!-- End Product Default Single Item -->
                                                </div>
                                                {% endfor %}
                                                </div>
                                            </div>
                                        </div> <!-- End Grid View Product -->

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- End Tab Wrapper -->

                    <!-- Start Pagination -->
                    <div class="page-pagination text-center" data-aos="fade-up" data-aos-delay="0">
                        <ul>
                            {% if page_obj.has_previous %}
                            <li><a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
                            <li><a class="active">{{ page_obj.number }}</a></li>
                            {% endif %}
                            {% if page_obj.has_next %}
                            <li><a class="active">{{ page_obj.number }}</a></li>
                            <li><a href="?page= {{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
                            {% endif %}
                            {% if page_obj.paginator.num_pages > 2 %}
                            <li><a href="?page={{ page_obj.paginator.num_pages }}"><i class="ion-ios-skipforward"></i></a></li>
                            {% endif %}
                        </ul>
                    </div> <!-- End Pagination -->

                </div> <!-- End Shop Product Sorting Section  -->

                </div> <!-- End Shop Product Sorting Section  -->
            </div>
        </div>
    </div> <!-- ...:::: End Shop Section:::... -->


































































{% endblock %}