{% load static %}
<!DOCTYPE html>
<html lang="zxx">
<head>
	<!-- Meta Tag -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name='copyright' content=''>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Title Tag  -->
    <title>South Garage Запчасти для ретро скутеров.</title>
	<!-- Favicon -->

	<link rel="icon" type="image/png" href=" {% static '/images/favicon.png' %}" rel="stylesheet">
	<!-- Web Font -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

	<!-- StyleSheet -->

	<!-- Bootstrap -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link href=" {% static 'css/bootstrap.css' %}" rel="stylesheet">
	<!-- Magnific Popup -->

	<link href=" {% static 'css/magnific-popup.min.css' %}" rel="stylesheet">
	<!-- Font Awesome -->
	<link href=" {% static 'css/font-awesome.css' %}" rel="stylesheet">
	<!-- Fancybox -->
	<link href=" {% static 'css/jquery.fancybox.min.css' %}" rel="stylesheet">
	<!-- Themify Icons -->
	<link href=" {% static 'css/themify-icons.css' %}" rel="stylesheet">
	<!-- Nice Select CSS -->
	<link href=" {% static 'css/niceselect.css' %}" rel="stylesheet">
	<!-- Animate CSS -->
    <link rel="stylesheet" href="{% static '/css/animate.css' %}">
	<link href=" {% static 'css/animate.css' %}" rel="stylesheet">
	<!-- Flex Slider CSS -->
	<link href=" {% static 'css/flex-slider.min.css' %}" rel="stylesheet">
	<!-- Owl Carousel -->
	<link href=" {% static 'css/owl-carousel.css' %}" rel="stylesheet">
	<!-- Slicknav -->
	<link href=" {% static 'css/slicknav.min.css' %}" rel="stylesheet">

	<!-- Eshop StyleSheet -->

	<link href=" {% static 'css/reset.css' %}" rel="stylesheet">
	<link href=" {% static 'css/responsive.css' %}" rel="stylesheet">
	<link href=" {% static 'style.css' %}" rel="stylesheet">

</head>
<body class="js">

	<!-- Preloader -->

	<!-- End Preloader -->

	<!-- Header -->
	<header class="header shop">
		<!-- Topbar -->
		<div class="topbar">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-12 col-12">
						<!-- Top Left -->
						<div class="top-left">
							<ul class="list-main">
								<li><i class="ti-headphone-alt"></i> +7 (931) 002-9221</li>
								<li><i class="ti-email"></i> Наша почта</li>
							</ul>
						</div>
						<!--/ End Top Left -->
					</div>
					<div class="col-lg-8 col-md-12 col-12">
						<!-- Top Right -->
						<div class="right-content">
							<ul class="list-main">
								<li><i class="ti-location-pin"></i> Где мы находимся</li>
								<li><i class="ti-alarm-clock"></i> <a href="{% url 'send_cron_message' %}">Ручной запуск крона/a></li>
                                {% if user.is_authenticated %}
									{% if status_user %}
										<li><i class="ti-power-off"></i><a href="{% url 'signup' %}">Регистрация</a></li>
										<li><i class="ti-power-off"></i><a href="{% url 'login' %}">Войти</a></li>
									{% else %}
										<li><i class="ti-user"></i> <a href="{% url 'orders:show_orders' %}">Мои заказы</a></li>
										<li><i class="ti-power-off"></i><a href="{% url 'logout' %}">Выйти</a></li>
									{% endif %}
                                {% else %}
                                <li><i class="ti-power-off"></i><a href="{% url 'signup' %}">Регистрация</a></li>
                                <li><i class="ti-power-off"></i><a href="{% url 'login' %}">Войти</a></li>
                                {% endif %}

							</ul>
						</div>
						<!-- End Top Right -->
					</div>
				</div>
			</div>
		</div>
		<!-- End Topbar -->
		<div class="middle-inner">
			<div class="container">
				<div class="row">
					<div class="col-lg-2 col-md-2 col-12">
						<!-- Logo -->
						<div class="logo">
							<a href="{% url 'home' %}"><img src="{% static '/images/logo.png' %}" alt="logo"></a>
						</div>
						<!--/ End Logo -->
						<!-- Search Form -->
						<div class="search-top">
							<div class="top-search"><a href="#0"><i class="ti-search"></i></a></div>
							<!-- Search Form -->
							<div class="search-top">
								<form class="search-form">
									<input type="text" placeholder="Search here..." name="search">
									<button value="search" type="submit"><i class="ti-search"></i></button>
								</form>
							</div>
							<!--/ End Search Form -->
						</div>
						<!--/ End Search Form -->
						<div class="mobile-nav"></div>
					</div>
					<div class="col-lg-8 col-md-7 col-12">
						<div class="search-bar-top">
							<div class="search-bar">
								<select>
									<option selected="selected">Все категории</option>
									<option>Хром</option>
									<option>Пластик</option>
									<option>Чехлы</option>
								</select>
								<form>
									<input name="search" placeholder="Напишите, что ищете..." type="search">
									<button class="btnn"><i class="ti-search"></i></button>
								</form>
							</div>
						</div>
					</div>
					<div class="col-lg-2 col-md-3 col-12">
						<div class="right-bar">
							<!-- Search Form -->
							<div class="sinlge-bar">
								<a href="#" class="single-icon"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
							</div>
							<div class="sinlge-bar">
                                <a href="#" class="single-icon"><i class="fa fa-user-circle-o" aria-hidden="true"></i></a>
                            </div>
							<div class="sinlge-bar shopping">

                            {% if user.is_active %}

								<a href="#" class="single-icon"><i class="ti-bag"></i><span class="total-count"><span>{{ count }}</span></a>

                            {% else %}
                                <a href="#" class="single-icon"><i class="ti-bag"></i><span class="total-count"><span>0</span></a>

                            {% endif %}

								<!-- Shopping Item -->
                            {% if user.is_active %}
								<div class="shopping-item">
									<div class="dropdown-cart-header">
                                        <span>Товаров: {{ count }}</span>
										<a href="{% url 'cart' %}">Перейти в корзину</a>
									</div>
									<ul class="shopping-list">
                                        {% for item in items %}
                                        <li>
                                            <form method="post" action="{% url 'cart_delete_item' item.pk %}">
                                                {% csrf_token %}
                                                <button type="submit" class="remove"><i class="ti-trash remove-icon"></i></button>
                                            </form>
                                            <a class="cart-img" href="{% url 'cards:product' item.card.slug %}" ><img src="{{ item.card.images.first.img.url }}" alt="#"></a>
											<h4><a href="{% url 'cards:product' item.card.slug %}">{{ item.card.name }}</a></h4>
											<p class="quantity">{{ item.quantity }} шт. - <span class="amount">{{ item.amount }}р</span></p>

										</li>
										{% endfor %}
									</ul>
									<div class="bottom">
										<div class="total">
											<span>Total</span>
											<span class="total-amount">{{ cart.total }}р</span>
										</div>
										<a href="{% url 'orders:make_order' %}" class="btn animate">Купить</a>
									</div>
								</div>
                            {% else %}
                            	<div class="shopping-item">
									<div class="dropdown-cart-header">
                                        <span>Пусто</span>
										<a href="{% url 'cart' %}">Перейти в корзину</a>
									</div>
								</div>
                             {% endif %}
								<!--/ End Shopping Item -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Header Inner -->
		<div class="header-inner">
			<div class="container">
				<div class="cat-nav-head">
					<div class="row">
						<div class="col-lg-3">

						</div>
						<div class="col-lg-9 col-12">
							<div class="menu-area">
								<!-- Main Menu -->
								<nav class="navbar navbar-expand-lg">
									<div class="navbar-collapse">
										<div class="nav-inner">
											<ul class="nav main-menu menu navbar-nav">
													<li class="active"><a href="{% url 'home' %}">Главная</a></li>
													<li><a href="#">Товары</a></li>
													<li><a href="#">Сервис</a></li>
													<li><a href="#">Магазин<i class="ti-angle-down"></i><span class="new">New</span></a>
														<ul class="dropdown">
															<li><a href="shop-grid.html">Shop Grid</a></li>
															<li><a href="{% url 'cart' %}">Корзина</a></li>
															<li><a href="checkout.html">Оформление заказа</a></li>
														</ul>
													</li>
													<li><a href="#">Блог</a></li>
													<li><a href="#">Blog<i class="ti-angle-down"></i></a>
														<ul class="dropdown">
															<li><a href="blog-single-sidebar.html">Blog Single Sidebar</a></li>
														</ul>
													</li>
													<li><a href="{% url 'contacts' %}">Контакты</a></li>
												</ul>
										</div>
									</div>
								</nav>
								<!--/ End Main Menu -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/ End Header Inner -->
	</header>
	<!--/ End Header -->

{% block index %}

{% endblock %}

{% block content %}<!-- default content text (typically empty) -->{% endblock %}

	<!-- Start Shop Services Area -->
	<section class="shop-services section home">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6 col-12">
					<!-- Start Single Service -->
					<div class="single-service">
						<i class="ti-rocket"></i>
						<h4>Бесплатная доставка></h4>
						<p>Заказы от 10 000 р</p>
					</div>
					<!-- End Single Service -->
				</div>
				<div class="col-lg-3 col-md-6 col-12">
					<!-- Start Single Service -->
					<div class="single-service">
						<i class="ti-reload"></i>
						<h4>Бесплатные возвраты</h4>
						<p>У вас есть 30 дней на возврат</p>
					</div>
					<!-- End Single Service -->
				</div>
				<div class="col-lg-3 col-md-6 col-12">
					<!-- Start Single Service -->
					<div class="single-service">
						<i class="ti-lock"></i>
						<h4>Платите безопасно</h4>
						<p>100% безопасность</p>
					</div>
					<!-- End Single Service -->
				</div>
				<div class="col-lg-3 col-md-6 col-12">
					<!-- Start Single Service -->
					<div class="single-service">
						<i class="ti-tag"></i>
						<h4>Лучшие цены</h4>
						<p>У нас точно дешевле</p>
					</div>
					<!-- End Single Service -->
				</div>
			</div>
		</div>
	</section>
	<!-- End Shop Services Area -->

	<!-- Start Footer Area -->
	<footer class="footer">
		<!-- Footer Top -->
		<div class="footer-top section">
			<div class="container">
				<div class="row">
					<div class="col-lg-5 col-md-6 col-12">
						<!-- Single Widget -->
						<div class="single-footer about">
							<div class="logo">
								<a href="{% url 'home' %}"><img src="{% static '/images/logo2.png' %}" alt="#"></a>
							</div>
							<p class="text">Проконсультируем по запам и наличию.</p>
							<p class="call">Есть вопросы? Звоните!<span><a href="tel:123456789">+7 931 002 9221</a></span></p>
						</div>
						<!-- End Single Widget -->
					</div>
					<div class="col-lg-2 col-md-6 col-12">
						<!-- Single Widget -->
						<div class="single-footer links">
							<h4>Information</h4>
							<ul>
								<li><a href="#">About Us</a></li>
								<li><a href="#">Faq</a></li>
								<li><a href="#">Terms & Conditions</a></li>
								<li><a href="#">Contact Us</a></li>
								<li><a href="#">Help</a></li>
							</ul>
						</div>
						<!-- End Single Widget -->
					</div>
					<div class="col-lg-2 col-md-6 col-12">
						<!-- Single Widget -->
						<div class="single-footer links">
							<h4>Customer Service</h4>
							<ul>
								<li><a href="#">Payment Methods</a></li>
								<li><a href="#">Money-back</a></li>
								<li><a href="#">Returns</a></li>
								<li><a href="#">Shipping</a></li>
								<li><a href="#">Privacy Policy</a></li>
							</ul>
						</div>
						<!-- End Single Widget -->
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<!-- Single Widget -->
						<div class="single-footer social">
							<h4>Get In Tuch</h4>
							<!-- Single Widget -->
							<div class="contact">
								<ul>
									<li>NO. 342 - London Oxford Street.</li>
									<li>012 United Kingdom.</li>
									<li>info@eshop.com</li>
									<li>+032 3456 7890</li>
								</ul>
							</div>
							<!-- End Single Widget -->
							<ul>
								<li><a href="#"><i class="ti-facebook"></i></a></li>
								<li><a href="#"><i class="ti-twitter"></i></a></li>
								<li><a href="#"><i class="ti-flickr"></i></a></li>
								<li><a href="#"><i class="ti-instagram"></i></a></li>
							</ul>
						</div>
						<!-- End Single Widget -->
					</div>
				</div>
			</div>
		</div>
		<!-- End Footer Top -->
		<div class="copyright">
			<div class="container">
				<div class="inner">
					<div class="row">
						<div class="col-lg-6 col-12">
							<div class="left">
								<p>Copyright © 2023</p>
							</div>
						</div>
						<div class="col-lg-6 col-12">
							<div class="right">
								<img src="{% static '/images/payments.png' %}" alt="#">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- /End Footer Area -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>