{% extends 'base.html' %}
{% load static %}

{% block content %}

    <!-- ...:::: Start Breadcrumb Section:::... -->
    <div class="breadcrumb-section breadcrumb-bg-color--golden">
        <div class="breadcrumb-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h3 class="breadcrumb-title">Ваши заказы</h3>
                        <div class="breadcrumb-nav breadcrumb-nav-color--black breadcrumb-nav-hover-color--golden">
                            <nav aria-label="breadcrumb">
                                <ul>
                                    <li><a href="{% url 'home' %}">Главная</a></li>
                                    <li class="active" aria-current="page">Ваши заказы</li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- ...:::: End Breadcrumb Section:::... -->

    <!-- ...:::: Start Account Dashboard Section:::... -->
    <div class="account-dashboard">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-3 col-lg-3">
                    <!-- Nav tabs -->
                    <div class="dashboard_tab_button" data-aos="fade-up" data-aos-delay="0">
                        <ul role="tablist" class="nav flex-column dashboard-list">
                            <li> <a href="#unpaid_orders" data-bs-toggle="tab"
                                    class="nav-link btn btn-block btn-md btn-black-default-hover">Мои заказы</a>
                            </li>
                            <!--<li><a href="#address" data-bs-toggle="tab"
                                    class="nav-link btn btn-block btn-md btn-black-default-hover">Адрес доставки</a></li>
                            <li><a href="#account-details" data-bs-toggle="tab"
                                    class="nav-link btn btn-block btn-md btn-black-default-hover">Данные аккаунта</a>
                            </li>-->
                            <li><a href="{% url 'logout' %}"
                                    class="nav-link btn btn-block btn-md btn-black-default-hover">Выход из аккаунта</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-12 col-md-9 col-lg-9">
                    <!-- Tab panes -->
                    <div class="tab-content dashboard_content" data-aos="fade-up" data-aos-delay="200">
                        <div class="tab-pane fade show active" id="cancelled_orders">
                            {% if is_stock == True %}
                            <h4>Ваши заказы</h4>
                            <div class="table_page table-responsive">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Заказ </th>
                                            <th>Дата</th>
                                            <th>Статус</th>
                                            <th>Итоговая цена</th>
                                            <th>Действия</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for order in orders %}
                                        <tr>
                                            <td>
                                                <a href="{{ order.get_absolute_url }}" class="btn">
                                                    {% if order != None %}
                                                    № {{ order.order_number }}
                                                    {% endif %}
                                                </a>
                                            </td>
                                            <td>{{ order.updated_at }}</td>
                                            <td>
                                                {% if order.status == '2_waiting_for_payment' or order.status == '5_check_pay' %}
                                                    <span class="success">Ожидание оплаты</span>
                                                {% elif order.status == '4_expired' %}
                                                    <span class="success">Отменен</span>
                                                {% elif order.status == '3_paid' %}
                                                    <span class="success">Оплачен</span>
                                                {% endif %}
                                            </td>
                                            <td>{{ order.total_with_delivery }} Р.</td>
                                            <!--<td><a href="cart.html" class="view">Посмотреть заказ</a></td> 5_check_pay 2_waiting_for_payment-->
                                            <td >
                                                {% if order.status == '2_waiting_for_payment'%}
                                                    <a href="{{ order.payment_link }}" target="_blank" rel="noopener noreferrer" class="btn" >Перейти к оплате</a>
                                                <!--<a href="{% url 'return_order' %}" class="btn">Отменить заказ</a>-->
                                                {% endif %}
                                                {% if order.status == '3_paid'%}
                                                    <a href="{{ order.get_absolute_url }}" class="btn view" >Собираем заказ</a>
                                                <!--<a href="{% url 'return_order' %}" class="btn">Отменить заказ</a>-->
                                                {% endif %}
                                            </tr>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            {% else %}
                        <div class="emptycart-content text-center">
                            <div class="image">
                                <img class="img-fluid" src="{% static '/images/empty-cart.png' %}" alt="">
                            </div>
                            <h6 class="sub-title">Вы еще ничего не заказали</h6>
                            <a href="{% url 'home' %}" class="btn btn-lg btn-golden">За покупками!</a>
                        </div>
                            {% endif %}
                            
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- ...:::: End Account Dashboard Section:::... -->
{% endblock %}