{% extends 'base.html' %}
{% load static %}

{% block content %}

	<!-- Breadcrumbs -->
	<div class="breadcrumbs">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="bread-inner">
						<ul class="bread-list">
							<li><a href="/">Главная<i class="ti-arrow-right"></i></a></li>
							<li class="active"><a>Оплаченные заказы</a></li>
						</ul>
					</div>
				</div>
			</div>
            </br>
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'orders:show_orders' %}">Неоплаченные заказы</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" >Оплаченные заказы</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'orders:show_expired_orders' %}">Отмененные заказы</a>
                    </li>
                </ul>
		</div>
	</div>
	<!-- End Breadcrumbs -->

	<!-- Shopping Cart -->
	<div class="shopping-cart section">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<!-- Shopping Summery -->
					{% if order_number_pay != None %}
							<h2>Номер заказа: № {{ order_number_pay.order_number }}</h2>
					{% endif %}
                        <table class="table shopping-summery">
                            <thead>
							<tr class="main-hading">
								<th>Товар</th>
								<th>Название</th>
								<th class="text-center">Цена</th>
								<th class="text-center">Количество</th>
								<th class="text-center">Итого</th>
								<th class="text-center"><i class="ti-trash remove-icon"></i></th>
							</tr>
						</thead>
						<tbody>
                        {% for item in items_order_number_pay %}
							<tr>
								<td class="image" data-title="No"><a href="{% url 'cards:product' item.card.slug %}"><img src="{{ item.card.images.first.img.url }}" alt="..."></a></td>
								<td class="product-des" data-title="Description">
									<p class="product-name"><a href="{% url 'cards:product' item.card.slug %}">{{ item.card.name }}</a></p>
									<p class="product-des">{{ item.card.description }}</p>
								</td>
								<td class="price" data-title="Price"><span>{{ item.card.new_price }}р</span></td>
								<td class="qty" data-title="Qty">

									<div class="input-group">
                                        <input name="cart_quantity" class="input-number" value="{{ item.quantity }}">
									</div>
									<!--/ End Input Order -->
								</td>
								<td class="total-amount" data-title="Total"><span>{{ item.amount }}</span>р.</td>
                                <td class="action" data-title="Remove">
                                    <form method="post" action="{% url 'cart_delete_item' item.pk %}">
                                    {% csrf_token %}
                                <!--    <button type="submit"><i class="ti-trash remove-icon"></i></button>-->
                                </form>
                                </td>
							</tr>
                           {% endfor %}

						</tbody>
					</table>
					<!--/ End Shopping Summery -->

				</div>
			</div>
			<div class="row">
				<div class="col-12">


					<!-- Total Amount -->

					<!--/ End Total Amount -->

				</div>
			</div>
		</div>
	</div>
	<!--/ End Shopping Cart -->

{% endblock %}