{% extends 'base.html' %}
{% load static %}
{% block content %}
<div>
<div class="breadcrumbs">
    <div class="container">		
	    <h3>Сумма к оплате: <span>{{ wait_payment }} &#x20bd</h3>
    </div>
    <div class="container">		
        <h3> На данный момент доступна оплата переводом на карту Сбербанка по номеру телефона +7-931-002-92-21.</h3> 
        <h3> После оплаты нажмите кнопку ниже, что бы сообщить нам об этом.</h3> 
        <h3> Мы проверим оплату и приступим к сборке вашего заказа.</h3>
    </div>
</div>
<!-- Button Widget -->
    <div class="container">		
        <a href="{% url 'make-a-payment' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Я оплатил! Сообщить от этом менеджеру</a>
    </div>
    
</div>

<!--/ End Button Widget -->
{% endblock %}