{% extends 'base.html' %}
{% load static %}
{% block content %}

		<!-- Start Checkout -->
		<section class="shop checkout section">
			<div class="container">
				<div class="row">
					<br class="col-lg-8 col-12">

                        <h3>Создание новой учетной записи</h3>
                        </br>>
                        <h4>Ошибочка. Такой логин уже зарегистрирован! Вы можете <a href="{% url 'password_reset' %}">восстановить пароль</a> или <a href="{% url 'signup' %}">выбрать другой логин</a>.</h4>
					</div>
				</div>
			</div>
		</section>
		<!--/ End Checkout -->

{% endblock %}