{% extends 'base.html' %}
{% load static %}
{% block content %}

        <!-- ...:::: Start Breadcrumb Section:::... -->
    <div class="breadcrumb-section breadcrumb-bg-color--golden">
        <div class="breadcrumb-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h3 class="breadcrumb-title">Вход в учетную запись</h3>
                        <div class="breadcrumb-nav breadcrumb-nav-color--black breadcrumb-nav-hover-color--golden">
                            <nav aria-label="breadcrumb">
                                <ul>
                                    <li><a href="{% url 'home' %}">Главная</a></li>
                                    <li><a href="shop-grid-sidebar-left.html">Shop</a></li>
                                    <li class="active" aria-current="page">Login</li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- ...:::: End Breadcrumb Section:::... -->

    <!-- ...:::: Start Customer Login Section :::... -->
    <div class="customer-login">
        <div class="container">
            <div class="row">
                <!--login area start-->
                <div class="col-lg-6 col-md-6">
                    <div class="account_form" data-aos="fade-up" data-aos-delay="0">
                        <h3>Вход в аккаунт</h3>
                        <form action="{% url 'login' %}" method="POST">
                            {% csrf_token %}
                            <div class="default-form-box">
                                <label>Email <span>*</span></label>
                                {{form_login.username}}
                            </div>
                            <div class="default-form-box">
                                <label>Пароль <span>*</span></label>
                                {{form_login.password}}
                            </div>
                            <div class="login_submit">
                                <button class="btn btn-md btn-black-default-hover mb-4" type="submit">Войти</button>
                                <label class="checkbox-default mb-4" for="offer">
                                    <input type="checkbox" id="offer">
                                    <span>Запомнить меня</span>
                                </label>
                                <a href="{% url 'password_reset' %}">Забыли пароль?</a>

                            </div>
                        </form>
                    </div>
                </div>
                <!--login area start-->

                <!--register area start-->
                <div class="col-lg-6 col-md-6">
                    <div class="account_form register" data-aos="fade-up" data-aos-delay="200">
                        <h3>Создать новый аккаунт</h3>
                        <form action="{% url 'signup' %}" method="POST" class="checkout-form">
                        {% csrf_token %}
                            <div class="default-form-box">
                                <label>Email <span>*</span></label>
                                {{form_register.username}}
                            </div>
                            <div class="default-form-box">
                                <label>Пароль <span>*</span></label>
                                {{form_register.password}}
                            </div>
                            <div class="default-form-box">
                                <label>Имя <span>*</span></label>
                                {{form_register.first_name}}
                            </div>
                            <div class="default-form-box">
                                <label>Фамилия <span>*</span></label>
                                {{form_register.last_name}}
                            </div>
                            <div class="default-form-box" >
                                <label>Введите код с картинки:</label>
                                <div class="g-recaptcha" >
                                    {{form_register.captcha}}
                                </div>
                            </div>
                            <div class="default-form-box">
                                {% if messages %}
                                    {% for message in messages %}
                                        <label>{{message}}</label>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="login_submit">
                                <button class="btn btn-md btn-black-default-hover" type="submit">Зарегистрироваться</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!--register area end-->
            </div>
        </div>
    </div> <!-- ...:::: End Customer Login Section :::... -->
{% endblock %}