{% extends 'base.html' %}
{% load static %}
{% block content %}

		<!-- Start Checkout -->
		<section class="shop checkout section">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-12">
                        <form action="{% url 'signup' %}" method="POST" class="checkout-form" style="width: 50%;">
                        {% csrf_token %}
							<h3>Создание новой учетной записи</h3>
							<p>Зарегистрируйтесь, чтобы получить доступ к уникальным предложениям</p>
							<!-- Form -->
								<div class="row">
                                    <div class="col-lg-6 col-md-6 col-12">
                                        <div>
											<label>Email<span>*</span></label>
                                            {{form.username}}
										</div>
									</div>
									<div class="col-lg-6 col-md-6 col-12">
										<div class="form-group">
											<label>Имя<span>*</span></label>
                                            {{form.first_name}}
										</div>
									</div>
									<div class="col-lg-6 col-md-6 col-12">
										<div>
											<label>Фамилия<span>*</span></label>
                                            {{form.last_name}}
										</div>
									</div>
                                    <div class="col-lg-6 col-md-6 col-12">
										<div>
											<label>Пароль<span>*</span></label>
                                            {{form.password}}
										</div>
									</div>
									<div class="col-lg-6 col-md-6 col-12">
                                        <div>
											<label>Номер телефона<span>*</span></label>
										</div>
									</div>
                                    <div class="col-12">
										<div>
											<label>Введите код с картинки<span></span></label>
                                            {{form.captcha}}
										</div>
									</div>
									<div class="col-12">
                                        {% if messages %}
                                            {% for message in messages %}
                                                <label>{{message}}</label>
                                            {% endfor %}
                                        {% endif %}
									</div>
                                    <div class="bottom">
                                            <button type="submit" class="btn animate">Зарегистрироваться</button>
                                    </div>
								</div>
                        </form>><!--/ End Form -->
                    </div>
				</div>
			</div>
        </section>
		<!--/ End Checkout -->
{% endblock %}