{% extends 'base.html' %}
{% load static %}
{% block content %}
<div>
<div class="breadcrumbs">
    <div class="container">		
        <h2>Спасибо за заказ! Ваш номер заказа: № {{ order_number_check_pay }}</h2>
    </div>
</div>
{% endblock %}