{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% block content %}

    <!-- ...:::: Start Breadcrumb Section:::... -->
    <div class="breadcrumb-section breadcrumb-bg-color--golden">
        <div class="breadcrumb-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        {% for cart in object_list %}
                        <h3 class="breadcrumb-title">Заказ № {{ cart.order_number }}</h3>
                        <div class="breadcrumb-nav breadcrumb-nav-color--black breadcrumb-nav-hover-color--golden">
                            <nav aria-label="breadcrumb">
                                <ul>
                                    <li><a href="/orders/show-orders/">Заказы</a></li>
                                    <li class="active" aria-current="page">Заказ № {{ cart.order_number }}</li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    </a>
                </div>
            </div>
        </div>
    </div> <!-- ...:::: End Breadcrumb Section:::... -->

    <!-- ...:::: Start Cart Section:::... -->
    <div class="cart-section">
        <!-- Start Cart Table -->
        <div class="cart-table-wrapper" data-aos="fade-up" data-aos-delay="0">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="table_desc">
                            <div class="table_page table-responsive">
                                <table>
                                    <!-- Start Cart Table Head -->
                                    <thead>
                                        <tr>
                                            <!--<th class="product_remove">Удаление</th>-->
                                            <th class="product_name">Товар</th>
                                            <th class="product_thumb">Фото</th>
                                            <th class="product-price">Цена</th>
                                            <th class="product_quantity">Количество</th>
                                            <!--<th class="product_total">Итоговая стоимость</th>-->
                                        </tr>
                                    </thead> <!-- End Cart Table Head -->
                                    <tbody>
                                        {% for item in cart.cartitem_set.all %}
                                        <!-- Start Cart Single Item-->
                                        <tr>
                                            <!--<td class="product_remove"><a href="#" class="remove-cart fa fa-trash-o" pid={{ item.card.id }}></a>
                                            </td>-->
                                            <td class="product_name"><a href="{% url 'cards:product' item.card.slug %}">{{ item.card.name }}</a></td>
                                            <td class="product_thumb"><a href="{% url 'cards:product' item.card.slug %}">
                                                {% thumbnail item.card.images.first.img "100x100" crop="center" as im %}
                                                    <img src="{{ im.url }}" alt="Product picture">
                                                {% empty %}
                                                    <p>No image</p>
                                                {% endthumbnail %}
                                                <!--<img src="{{ item.card.images.first.img.url }}" alt="Product picture"></a>-->
                                            </td>
                                            <td class="product-price">{{ item.card.new_price }}р</td>
                                            <td>
                                                <div>
                                                    <label for="quantity"></label>
                                                    <span id="quantity">{{ item.quantity }}</span>
                                                </div>
                                            </td>
                                            <!--<td class="product_total" id="amount">{{ amount }} р {{ item.amount }} р</td></td>-->
                                        </tr> <!-- End Cart Single Item-->
                                    {% endfor %}
                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- End Cart Table -->
        <!-- Start Coupon Start -->
        <div class="coupon_area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="coupon_code" data-aos="fade-up" data-aos-delay="400">
                            <h3>Платежная информация</h3>
                            <div class="coupon_inner">
                                {% if cart.delivery_price != 0 %}
                                <div class="cart_subtotal">
                                    <p>Сумма заказа</p>
                                    <p class="cart_amount" id="totalamount">{{ cart.total }}</p>
                                </div>
                                <div class="cart_subtotal">
                                    <p>Доставка</p>
                                    <p class="cart_amount" id="totalamount">{{ cart.delivery_price }}</p>
                                </div>
                                {% endif %}
                                <div class="cart_subtotal">
                                    <p>Итого</p>
                                    <p class="cart_amount" id="totalamount">{{ cart.total_with_delivery }}</p>
                                </div>
                        {% endfor %}        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- End Coupon Start -->
        
    </div> <!-- ...:::: End Cart Section:::... -->
    

{% endblock %}