{% extends 'base.html' %}
{% load static %}
{% block content %}

		<!-- Start Checkout -->
		<section class="shop checkout section">
			<div class="container">
				<div class="row">
					<br class="col-lg-8 col-12">

                        <h3>Вход в вашу учетную запись</h3>
                        </br>>
                        <h4>Ошибочка. Вы неправильно ввели логин и (или) пароль. Вы можете<a href="{% url 'password_reset' %}"> восстановить пароль</a> или <a href="{% url 'login' %}">попробовать войти еще раз</a>.</h4>
					</div>
				</div>
			</div>
		</section>
		<!--/ End Checkout -->

{% endblock %}